


<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h2>New Post</h2>
    
    <div class="text-danger">{{errorMessage}}</div>
      <form  [formGroup]="formNewPost" >
        <div class="form-group">
          <label for="">title</label>
          <input formControlName="title" type="title" class="form-control" name="title" id="title" placeholder="title">
        </div>
        <div class="form-group">
          <label for="">content</label>
          <textarea rows="15" formControlName="content"    class="form-control" name="content" id="content" placeholder="content"></textarea>
        </div>
        
        <button class="btn btn-primary" [disabled]="formNewPost.invalid"
        (click)="newPost()"
        > Create</button>
      </form>
    </div>
      
      </div>